@media only screen and (min-width: 600px) {
  .content {
    margin-left: 8em;
    margin-right: 8em;
  }
}

@media only screen and (max-width: 599px) {
  .content {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
}